html, body {
    font-family: sans-serif !important;
}

.display-none {
    display: none;
}

.row-spacer-sm {
    padding: 10px 0px;
}

.row-spacer-md {
    padding: 20px 0px;
}

.row-spacer-lg {
    padding: 30px 0px;
}

.panel-message {
    height: 80px;
}

.page-footer {
    border-top: 1px solid #eee;
    padding-top: 5px;
    margin-top: 40px;
    text-align: center;
}

.copyright {
    margin-top: 5px;
    font-size: 0.85em;
    color: #555555;
}

.copyright a {
    color: #555555;
}

.clear-both {
    clear: both;
}

.attachments {
    margin: 0 auto;
    padding-top: 10px;
    width: 450px;
}

.attachments img {
    float: left;
}

.attachments .btn {
    float: left;
    margin: 2px 0 2px 10px;
}

.gamepad-menu {
    cursor: default;
}

.gamepad-url {
    color: #999999;
    ime-mode: disabled;
    cursor: default;
}

/* 配色 gamepad-xbox
*/

.gamepad-xbox .form-control {
    border-color: #01758b;
}

.gamepad-xbox .btn-primary {
    background-color: #1e95ac;
    border-color: #01758b;
}

.gamepad-xbox .btn-primary:hover,
.gamepad-xbox .btn-primary:active {
    background-color: #197a8c;
    border-color: #01758b;
}

.gamepad-xbox .dropdown-toggle.btn-primary {
    color: #01758b;
    border-color: #01758b;
    background-color: #e8f7fa;
    border-right: none;
}

.gamepad-xbox .open > .dropdown-toggle.btn-primary {
    color: #ffffff;
    background-color: #1e95ac;
    border-color: #01758b;
}

/* 配色 gamepad-ps
*/

.gamepad-ps .form-control {
    border-color: #017964;
}

.gamepad-ps .btn-primary {
    background-color: #2b9f8b;
    border-color: #017964;
}

.gamepad-ps .btn-primary:hover,
.gamepad-ps .btn-primary:active {
    background-color: #217a6b;
    border-color: #017964;
}

.gamepad-ps .dropdown-toggle.btn-primary {
    color: #017964;
    border-color: #017964;
    background-color: #eafbf8;
    border-right: none;
}

.gamepad-ps .open > .dropdown-toggle.btn-primary {
    color: #ffffff;
    background-color: #2b9f8b;
    border-color: #017964;
}

/* 配色 gamepad-ps5
*/

.gamepad-ps5 .form-control {
    border-color: #907626;
}

.gamepad-ps5 .btn-primary {
    background-color: #b49537;
    border-color: #907626;
}

.gamepad-ps5 .btn-primary:hover,
.gamepad-ps5 .btn-primary:active {
    background-color: #907626;
    border-color: #907626;
}

.gamepad-ps5 .dropdown-toggle.btn-primary {
    color: #907626;
    border-color: #907626;
    background-color: #fff7e0;
    border-right: none;
}

.gamepad-ps5 .open > .dropdown-toggle.btn-primary {
    color: #ffffff;
    background-color: #b49537;
    border-color: #907626;
}